<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sedes</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">

                </div>
                <!-- /.col -->

                <div class="container-fluid mt-2">
                    <!-- COLOR PALETTE -->
                    <div class="card card-default color-palette-box">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-map-pin"></i> Crear Sede
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-6">
                              <form [formGroup]="myFormCampus" (ngSubmit)="saveCampus()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre Sede</label>
                                    <input type="email" class="form-control" formControlName="name" id="exampleInputEmail1" placeholder="Coloca el nombre de la sede">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ciudad</label>
                                    <ng-select  formControlName="city">
                                      <ng-option *ngFor="let item of ciudades" [value]="item.id">{{item.nombreCuidad}}</ng-option>
                                   </ng-select>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
