<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Ciudades</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">

                </div>
                <!-- /.col -->

                <div class="container-fluid mt-2">
                    <!-- COLOR PALETTE -->
                    <form [formGroup]="myFormCity" (ngSubmit)="submitForm()">
                        <div class="card card-default color-palette-box">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-map-pin"></i> Crear Ciudad
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre Ciudad</label>
                                        <input type="email" class="form-control" formControlName="name" placeholder="Coloca el nombre de la ciudad">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>