<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sedes</h1>


                </div>
                <!-- /.col -->
                <div class="col-sm-6">

                </div>
                <!-- /.col -->

                <div class="container-fluid mt-2">
                    <!-- COLOR PALETTE -->
                    <div class="card card-default color-palette-box">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-map-pin"></i> Lista Sedes
                            </h3>
                            <br>
                            <hr>
                            <button type="submit" class="btn btn-primary" routerLink="/sedes/save">Crear sede</button>
                        </div>
                        <div class="card-body">
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>nombre sede</th>
                                            <th>nombre ciudad</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let item of sedes">
                                            <td> {{item.id}}</td>
                                            <td> {{item.nombreSede}}</td>

                                            <td> {{item.cuidad.nombreCuidad}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>